<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.adobe.plugins.PushPlugin"
    version="1.2.2">

    <name>SMSPlugin</name>

 

	<platform name="android">
	 <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.SEND_SMS"/>
           
        </config-file>
        <config-file target="res/xml/config.xml" parent="/cordova/plugins">
    		 <plugin name="SendSms" value="com.plugin.SendSms" />
        </config-file>
    	
 		<source-file src="plugin/SendSms.java" target-dir="src/com/plugin/SMS/" />
 	
    </platform>
	</plugin>
